

@font-face {
    font-family: 'Athelas';
    src: url(fonts/Athelas-Regular.ttf);
}

@font-face {
    font-family: 'Avenir next';
    src: url(fonts/avenir-next/avenir-next-light.ttf);
}

body{
	margin: 0px;
}
h1{
	font-family: 'Athelas';
	font-weight: normal;
}

/*
variables: 
everything should be 16% from the screen
headings are athelas normal
body text: avenir or lato (might wanna experiment with this)
line-height: 2.1em
body-text color: 989898
margin top for major headings: 4%;
margin bottom for major sections: 4%;
*/


#name-title{
	/*inline gets rid of weird padding on top*/
	display: inline-block;
	color: #fff;
	font-size: 280%;
	margin-left: 16%;
	margin-top: 10%;
}
#name-title img{
	width: 75%;
	height: auto;
}

#banner-heading{
	width: 100%;
	height: 500px;
	background-image: url(images/website-banner-final.jpg);
	background-size: cover;
}
#about{
	margin-bottom: 4%;
}

#about h1{
	margin-left: 16%;
	margin-right: 16%;
	margin-top: 4%;
	font-size: 340%;
	color: #926565;
}
#about p{
	font-family: 'Avenir next';
	/*font-family: 'Lato', sans-serif;*/
	margin-left: 16%;
	margin-right: 16%;
	line-height: 2.2em;
	font-size: 100%;
	color: #989898;
}
#portfolio{
	background-color: #F3F3F3;
	height: 870px;
}
#portfolio h1{
	margin-left: 16%;
	margin-right: 16%;
	padding-top: 4%;
	font-size: 270%;
}

/*project-list styling*/
#projects-list{
	margin-left: 16%;
	margin-right: 16%;
}

#projects-list ul{
	display: inline;

}

#projects-list li{
	list-style: none;
	
}


#projects-list li a{
	text-decoration: none;
	color:  #926565;
}

#projects-list li a:hover{
	text-decoration: none;
	color:  #000;
}
.project-title{
	font-size: 140%;
	font-family: 'Avenir next';
}
.project-description{
	font-family: 'Avenir next';
	font-size: 100%;
	font-style: italic;
	margin-top: -1%;
	color: #9D9D9D;
}